<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New job</title>
</head>
<body>

<form th:method="POST" th:action="@{/work}" th:object="${job}">
    <label for="position">Enter position: </label>
    <input type="text" th:field="*{position}" id="position"/>
    <div style="color:red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position Error</div>
    <br/>
    <label for="salary">Enter salary: </label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>